.completed{
    color: gray;
    text-decoration: line-through;
}

h1{
    color: teal;
}
body{
    background: lightgray;
    font-family: 'New Tegomin', serif;
    text-align: center;
    font-size: 1.4em;
}
ul{
    list-style-type: none;
}